<div class="card card-info text-xs-center">
  <%= image_tag(@event.hero_image_url, class: 'card-img-top img-fluid img-event') %>
  <div class="card-block">
    <h4 class="card-title"><%= @event.name %></h4>
    <p> <%= fa_icon 'clock-o' %> <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %></p>
    <p><%= fa_icon 'map-marker' %> <%= @event.venue.name %>, <%= @event.venue.full_address %></p>
    <hr>
    <p class="card-text"><%= @event.extended_html_description.html_safe %></p>
    <hr>
    <p class="card-text">
      <h3 class="text-sm-center">Ticket Information</h3>
       <% @event.ticket_types.each do |ticket_type| %>
       <div class="row">
        <div class="col-sm-6">
          <i class="fa fa-ticket"></i> <%= ticket_type.name %>
        </div>
        <div class="col-sm-6">
          <i class="fa fa-money"></i> <%= number_to_currency(ticket_type.price,  unit: 'VND', format: "%n %u", precision: 0) %>
        </div>
       </div>
       <% end %>
    </p>
    <hr>
    <% if check_event_validation?(@event) %>
      <%= link_to "Book Ticket Now", new_event_ticket_path(@event), class: "btn btn-warning" %>
    <% else %>
      <h3 style="color: red;">Sorry, this event expired.</h3>
      <br>
    <% end %>

    <% if same_user?(@event) %>
      <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<hr>

<div class="container-fluid events-list">
  <h1 class="text-sm-center" style="color: orange;">You may want to join the following events</h1>
  <br>
  <% @events_in_the_same_region.each do |event| %>
    <% if event.id != @event.id %>
      <%= render 'card', obj:event %>
    <% end %>
  <% end %>
</div>


